/* Init Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom CSS Below */
code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}
